/********************/
/*     CONTENTS     */
/********************/

header { 
    background-color: coral;
}

header h1, 
header p { 
    color: white;
}   

body {
    background-color: lightgrey;
}

main. p {
    color: seagreen;
}
